{% extends 'base.html.twig' %}

{% block title %}Accueil Coffeera!{% endblock %}

{% block body %}
<header>
    <div class="content-top">
        <nav class="content-navbar">
            <ul class="navbar">
                <li>
                    <a href="#content-top">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#about-us">
                        About Us
                    </a>
                </li>

                <li>
                    <a href="{{path('products')}}">
                        Shop
                    </a>
                </li>

                <li>
                    <a href="{{path('contact')}}">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content-name">
        <p class="name">
            Coffeera
        </p>
    </div>
    <div class="content-btn-shop">
        <button class="btn btn-shop">
            <span class="label">
                Shop Now
            </span>
        </button>
    </div>
</header>
{#Block utile entre header et le carousel#}
<section class="block-brown"></section>

<section class="content-background-slider" data-ride="carousel">
    <div class="slider">

        <div class="first-slider slider-item active">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-slider slider-item">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="third-slider slider-item">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    endblockrferf
    endblockrferferf
    endblockrferferf
</section>

<script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}
