{% extends 'base.html.twig' %}

{% block title %}Produits Coffeera!{% endblock %}

{% block body %}

<section class="container-products" style="height: 1000px; background-color: #C2B288; display: flex; justify-content: center;">
    <div style=" width: 75%; display: flex; justify-content: center;">
        <p>ezf</p>
    </div>
</section>
{% endblock %}
