{% extends 'nav_admin.html.twig' %}

{% block title %}Liste des Sliders{% endblock %}

{% block body %}
    <h1>Liste des Sliders</h1>

    <ul>
        {% for slider in sliders %}
            <li>{{ slider.title }}</li>
            <p>{{ slider.content }}</p>
            <p>{{ slider.buttonLink }}</p>
            <p>{{ slider.buttonText }}</p>
        {% endfor %}
    </ul>
{% endblock %}