{% extends 'base.html.twig' %}

{% block title %}Contact Coffeera!{% endblock %}

{% block body %}

<section class="container-form-contact">
    <h1>Contactez nous</h1>
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}

    <form class="form_contact_coffeeshop" method="post">

    </form>
</section>

<script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}
