{% extends 'base.html.twig' %}

{% block title %}Contact Coffeera!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello</h1>

    <ul>
        <li>La page d'accueil ici : <a href="{{path('homepage')}}"> Accueil </a></li>
        <li>Les produits ici : <a href="{{path('products')}}"> Produits </a></li>
    </ul>
</div>
{% endblock %}
